@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    

}

.promo {
    background-color: #008ACA;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;

    p {
        color: white;
    }
}
.logo {
    font-size: 2em;
    font-weight: 900;
    letter-spacing: .2em;
}
.uppernav {
    margin-top: 2vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    input {
        width: 27em;
        height: 2.5em;
       
       
    }

    button {
        height:3em;
        border: none;
        border-radius: 4px;
        width: 3em;
        background-color: #008ACA;
        margin-left: -3px;
        
    }
  
}

.cart,.user {
    display: flex;
    p {
        width: 100px;
        align-items: center;
        padding-left: 1em;
    }
    justify-content: center;
    align-items: center;
}

.lowwernav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;

    a {
        font-size: 1.2em;
        padding: 15px 30px;
        color: black;
        font-weight: 450;
        transition: 0.2s;
        
    }
    a:hover {
        font-size: 1.2em;
        padding: 15 30px;
        color: black;
        font-weight: 450;
        border-top: 10px solid #008ACA;
    }


}

.slider {
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.strelice {
    display: flex;
    position: absolute;
    z-index: 1000;
    transform: translateY(-50%); 
    top: 50%;
    width: 100%;
    justify-content: space-between;

    button {
        margin: 12em;
        width: 4rem;
        height: 4em;
        border-radius: 2em;
        background-color: none;
        transition: 0.2s;
    }
    button:hover {
      
        width: 4.2rem;
        height: 4.2em;
        background-color: #06abf7;
        cursor: pointer;
        
    }
}


section {
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    border:  white solid 0.2px;
    transition: 0.2s;
    padding: 10px;

    img {
        max-width: 40vh;
       
    }
}

section:hover {
   
    box-shadow: 10px 10px 10px 1px  rgb(187, 187, 187);
    border: 1px solid rgb(187, 187, 187);
    cursor: pointer;

}
.store {
    display: grid;
    gap: 20px ;
    grid-template-columns:  auto auto auto auto;
    justify-content: center;

    h4 {
        font-weight: 350;
     
    }
    p {
        padding-top: .5em;
        font-weight: 500;
    }
    

}

    .izdvajamo{
        text-align: center;
        font-weight: 600;
        font-size: 2em;
        margin: 2vh 0;
    }

    .newsletter {
    
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20vh;
        background-color: #008ACA;
        margin-top: 10vh;

        .text {
            margin: 10vh;
            color: white;
        }

        input {
            width: 20em;
            height: 2.5em;
        }
        button {
            height: 2.7em;
            border-radius: 10px;
            border: none;
            padding: 3px;
        }

        p,h3 {
            font-size: 2em;
            padding: 10px;
        
        }
        h3 {

            width: 10em;

        }
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 4em 0;


        ul li {
            padding-top: 1em;
            list-style: none;

            a {
                color: black;
                font-weight: 600;
            }

            
        }
        button {
            padding: 15px;
            border-radius: 10px;
            background-color: #008ACA;
            margin-top: 1vh;
            color: white;
            font-weight: 600;
        }
    }


    .footerbottom {
        display: flex;
        background-color: gray;
        width: 100%;
        height: 5vh;
        align-items: center;
        justify-content: center;
    }

.user:hover {
    color:#008ACA;
    transition: 0.2s;
    cursor: pointer;
}

.form {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 30vh;
    input {
        height: 2em;
    }
    button {
        margin-top: 10px;
        height: 3em;
        background-color: #008ACA;
        color: white;

    }
    p {
        margin-top: 4vh;
    }
}
.izadji {
    margin-left: 47vh;
    padding: 10px;
}
.login {
    position: absolute;
    z-index: 3000;
    display: none;
    align-items: center;
    flex-direction: column;
    right: 0;
    top: 0px; /* Daj malo prostora ispod ikone korisnika */
    background-color: white;
    width: 50vh;
    height: 100%;
    transition: 0.3s;
   
    
}

.move {
    animation-name: move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.out {
    animation-name: out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.oppacity {
    animation-name: oppacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.appear {
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes move {
 0% {
    transform: translateX(100%);
 }
 100% {
    transform: translateX(0%);
 }
}
@keyframes out {
    0% {
       transform: translateX(0%);
    }
    100% {
       transform: translateX(100%);
    }
   }


@keyframes oppacity {
    0% {
        oppacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
@keyframes appear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}




